<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="recipeStyle.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" href="/list">List recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wings">Wings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gimbap">Gimbap Recipe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ricenoodles">Pumpkin Rice Noodles Recipe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/eggsauce">Egg Sauce Recipe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/injera">Injera Recipe</a>
            </li>
        </ul>

    </div>
</nav>
<ul class="items">

        <div class="row">
            <div class="col-6">
            <li>
               <a href="/wings">
                   <img src="wings.jpg" class="galleryImage">
                   <p>Wings</p>
               </a>
            </li>
            </div>
            <div class="col-6">
            <li>
                <a href="/gimbap">
                    <img src="gimbap.jpg" class="galleryImage">
                    <p>Gimbap</p></a>
            </li>
            </div>
        </div>

    <div class="row">
        <div class="col-6">
        <li>
            <a href="/ricenoodles">
                <img src="ricenoodles.jpg" class="galleryImage">
                <p>Pumpkin Rice Noodles</p>
            </a>
        </li>
        </div>
        <div class="col-6">
        <li>
            <a href="/eggsauce">
                <img src="eggsauce.jpg" class="galleryImage">
                <p>Egg Sauce</p>
            </a>
        </li>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
        <li>
            <a href="/injera">
                <img src="Injera.jpg" class="galleryImage">
                <p>Injera</p>
            </a>
        </li>
        </div>
    </div>

</ul>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>